* {
    box-sizing: border-box;
    text-rendering: geometricPrecision;
   
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #dce027;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

body {
    font-family: $base-ff;
    font-size: $base-fs;
    font-weight: 300;
    line-height: $base-lh;
    background: #0e0e0e;
    color: $text-color;
    max-width: 800px;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    border: 1px dashed $h-color;
    border-top: none;

    padding: 0 20px;
    @include media-query($on-palm) {
            border: none;
            padding: 10px;
    }
}
    
h1,h2,h3,h4,h5,h6 {
    
    color: $h-color;
    font-size: 20px;

}

h1:before {
    content: "# ";
}

h2:before {
    content: "## ";
}
h3:before{
    content: "### ";
}
h4:before{
    content: "#### ";
}
a {
    color: $h-color;
    text-decoration: none;
    border-bottom: 1px solid;
    &:hover {
        background-color: $h-color;    
        color: #444;
        
    }
}

a[target="_blank"]::after {
    content: " " url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" class=\"i-external\" viewBox=\"0 0 32 32\" width=\"16\" height=\"16\" fill=\"none\" stroke=\"#0a5\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"9.38%\"><path d=\"M14 9 L3 9 3 29 23 29 23 18 M18 4 L28 4 28 14 M28 4 L14 18\" /></svg>');
}


header {
     border-bottom: 1px dashed $h-color;
}


nav {
    text-align: right;
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 0;
        li {
            display: inline-block;
            margin-left: 0.5em;
            &:before {
                content: ' /';
                color: $h-color;
            }
        }
    }
}

 img {
    max-width: 100%;
}
 
code, pre {
    overflow: auto;
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    box-shadow: inset 0 0 10px #0a0a0a, inset 0 0 15px #000;
}

blockquote {
    border-left: 1px solid $h-color;
    padding-left: 1em;
}
.title-a {
    display: inline-block;
    border: 1px dashed;
    padding: 2px 15px;
    margin-bottom: 1em;
    h1:before{
        content: "";
    }
    
    &:hover > .title {
        color: #000;
    }
}

.title {
    display: block;
    font-size: 1.35em;
    &:after {
        content: "";
    }
}
footer {
    padding: 10px;
    border-top: 1px dashed $h-color;
    p {
        display: inline-block;
        span {
            color: palevioletred;
        }
    }
}

.post-list {
    .date {
        color: #666;
    }
}

.post-title {
    h2:hover {
        color: $text-color;
    }
}

